   /*----------------------------marque-slider------------------------- */

   .slider-container {
       overflow: hidden;
       width: 100%;
       /* Adjust as needed */
       white-space: nowrap;
   }

   .slider {
       display: inline-block;
       animation: marquee 10s linear infinite;
       /* Adjust duration as needed */
   }

   .slide {
       display: inline-block;
       width: 50%;
       /* Adjust as needed */
   }

   .slide_box {
       background-color: lightblue;
       padding: 20px;
       border: 2px solid black;
       border-radius: 20px;
       min-height: 300px;
       height: 100%;
       max-width: 400px;
       margin-right: 60px;
       margin-left: 60px;
   }

   @keyframes marquee {
       0% {
           transform: translateX(0);
       }

       100% {
           transform: translateX(-100%);
       }
   }